export const Announcements = ({
  createBulletinAction, // passed down by connect
  handleSubmit, // passed down by redux-form
}) => {
  return (
    <form onSubmit={handleSubmit(createBulletinAction)}>
      <Field
        name="title"
        component={input}
        type="text"
      />
      <Field
        name="description"
        component={input}
        type="text"
      />
      <Button type="submit">Save</Button>
    </form>
  );
};

export const AnnouncementsForm = reduxForm({
  form: 'addAnnouncement',
})(Announcements);
